.pageCol0 {
    width: 15%;
    /*visibility:hidden;*/
    background-color: grey;
    z-index: -1000;
    position: fixed; /*positioned relative to the browser window*/
    height: 100%;
}

.pageCol1 {
    width: 20%;
    padding-left: 15%;
    background-color: teal;
    z-index: -2000;
    position: fixed;
    height: 100%;
}

.pageCol2 {
    width: 45%;
    padding-left: 35%;
    background-color: lightyellow;
    z-index: -3000;
    position: fixed;
    height: 100%;
}

.pageCol3 {
    width: 20%;
    padding-left: 80%;
    background-color: lightblue;
    z-index: -4000;
    position: fixed;
    height: 100%;
}
